@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Inter-Thin.ttf');
}
*{
  font-family: 'RobotoMono','monosoace';
}

body{
  display: flex;
  height: 100vh;
  justify-content:center;
  align-items: center;
  text-align: center;
  color: #Fff;
  background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73));
}